#pageImg{
	width:100%;
	height:500px;
	top:180px;
	background-color:#FEFEFE;
}
#pageImg img{
	padding-top:92px;
	margin-left:200px;
}
.content{
	width:960px;
	margin:0 auto;
	overflow:hidden;
	zoom:1;
}
.content .container-theme-app{
	float:left;
	overflow:hidden;
	zoom:1;
	font:14px/1.5'\5FAE\8F6F\96C5\9ED1','\5b8b\4f53';
	color:#999;
	margin-right:8px;
	width:741px;
}
.container-app .app-title{
	background:url(../images/theme_title_bg.gif) no-repeat;
	width:741px;
	height:35px;
	color:#ff2603;
}
.app-title ul{
	color:#e8380d;font:14px/30px'\5FAE\8F6F\96C5\9ED1','\5b8b\4f53';
	line-height:35px;
	margin-left:23px;
}
.app-title li{
	float:left;
	list-style:none;
}
.app-title li a{
	line-height:35px;
	display:block;
	float:left;
	color:#e8370d;
	font-weight:bold;
}
.app-detail{
	overflow:hidden;
	zoom:1;
	border:1px solid #ececec;
}
.app-content{
	overflow:hidden;
	zoom:1;
	padding:32px 0 55px 30px;
}
.left{
	float:left;
	overflow:hidden;
	zoom:1;
	margin-right:45px;
	text-align:center;
	width:152px;
}
.left h2{
	color:#999;
	font:16px/1.5'\5FAE\8F6F\96C5\9ED1','\5b8b\4f53';
}
.left .star{
	background:url(../images/star.jpg) no-repeat;
	width:100px;height:15px;
	margin:0 auto;
	margin-bottom:10px;
	display:none;
}
.left .btn{
	background:url(../images/btn.gif) no-repeat;
	text-align:center;
	width:80px;
	height:30px;
	color:#fff;
	line-height:30px;
	margin:0 auto;
	margin-bottom:55px;
}
.right{
	float:left;
	width:488px;
	overflow:hidden;
	zoom:1;
}
.right ul{
	font-weight:bold;
	line-height:1.8;
}
.right li span{
	color:#000;
}
.app-silder{
	width:695px;
	margin:0 auto;
	background:#f5f5f5;
}
.app-rel h1{
	color:#e8380d;
	font:bold 16px/1.5 '\5FAE\8F6F\96C5\9ED1','\5b8b\4f53';
	margin-top:15px;
}
.app-rel h2{
	color:#34383D;
	font:14px/1.5'\5FAE\8F6F\96C5\9ED1','\5b8b\4f53';
}
.app-rel ul{
	overflow:hidden;
	zoom:1;
	margin-top:24px;
}
.app-rel li{
	float:left;
	overflow:hidden;
	zoom:1;
	margin-right:90px;
	text-align:center;
}
.rel-pic{
	overflow:hidden;
}
.rel-name{
	overflow:hidden;
}
.app-rel .star{
	background:url(../images/star_small.jpg) no-repeat;
	width:84px;
	height:15px;
	margin-left:10px;
	display:none;
}
.carouselBox{
	margin:0 auto;
	width:720px;
	margin-bottom:20px;
	overflow:hidden;
	zoom:1;
}
.rank .rank-app{
	overflow:hidden;
	zoom:1;
	width:210px;
}
.rank-app ul{
	margin-left:5px;
}
.rank-app li{
	margin:0 auto;
	margin-bottom:40px;
	overflow:hidden;
	zoom:1;
}
.rank-app li a{
	cursor:pointer;
	color:#000;
	font-weight:bold;
}
.rank-app h1{
	margin-left:10px;
	padding-bottom:14px;
	width:150px;
	font:bold 16px/1.5'\5FAE\8F6F\96C5\9ED1','\5b8b\4f53';
	color:#e8380d;
	margin-bottom:16px;
}
.rank-app .app-num{
	margin-top:25px;
	margin-right:10px;
	display:inline;
	float:left;
	font-weight:bold;
	color:#999999;
}
.rank-app img{
	margin-right:5px;
	float:left;
}
.rank-app ul li h2{
	float:left;
	margin-top:38px;
	width:100px;
	height:30px;
	overflow:hidden;
	font:14px/30px'\5FAE\8F6F\96C5\9ED1','\5b8b\4f53';
}
.rank-app ul li .star{
	background:url(../images/star.jpg) no-repeat;
	width:100px;
	height:15px;
	float:left;
	display:none;
}
.app-title ul{
	color:#e8380d;
	font:14px/30px'\5FAE\8F6F\96C5\9ED1','\5b8b\4f53';
	line-height:35px;
	margin-left:23px;
}
.app-title li{
	float:left;
}
.app-title li a{
	line-height:35px;
	display:block;
	float:left;
	color:#e8370d;
	font-weight:bold;
}
.carouselBox{margin:0 auto;width:720px;margin-bottom:20px;overflow:hidden;*zoom:1;background:#f5f5f5;border:1px solid #ddd;}

.jcarousel-skin-nubia .horizontal{
	height:395px;
	padding:20px 10px;
}

.jcarousel-skin-nubia .clip-horizontal{
	width:698px;
	height:399px;
} 
.jcarousel-skin-nubia .jcarousel-item-horizontal{margin-left:0;margin-right:16px;}

