@charset "utf-8";
/* CSS Document */

#bg-serves{
	height:299px;
	width:100%;
	background:url(../images/bg_services.jpg) no-repeat scroll center center;
}
#bg-serves ul{
	padding-left:650px;
	padding-top:180px;
}


#bg-serves ul li{
	list-style:none;
	float:left;

}

#bg-serves ul li a{
	color:#FFF;
}

#bg-serves ul li a:hover{
	color:#000;
}

#services{
	width:1170px;
	margin:0px auto;
	padding:0px;
}

#services ul li{
	list-style:none;
	float:left;
	margin-left:150px;
	margin-top:15px;
	text-align:center;
}

#services ul li a{
	display:inline-block;
}


#services ul li a span.pic{
	display:inline-block;
	background:url(../images/icon_services.png);
	height:136px;
	width:136px;
}



#services ul li a.pic2 .pic{
	background-position:-136px 0px;
}


#services ul li a.pic4 .pic{
	background-position:-544px 0px;
}



#services ul li .pic1:hover .pic{
	background-position:0px -136px;
}


#services ul li .pic3:hover .pic{
	background-position:-408px -136px;
}


#services ul li .pic1:hover{
	color:#F00;
}
#services ul li .pic3:hover{
	color:#F00;
}


#services ul li .pic2:hover .pic{
	background-position:-136px -136px;
}

#services ul li .pic2:hover{
	color:#F00;
}




#services ul li .pic4:hover .pic{
	background-position:-272px -136px;
}

#services ul li .pic4:hover{
	color:#F00;
}




#services-con{
	width:270px;
	overflow:hidden;
	float:left;
	margin-left:100px;
	color:#FFF;
}

#services-con ul{
	padding-left:50px;
	margin-top:50px;
}

#services-con ul li{
	list-style:none;
	border-bottom: 1px solid #e7e7e7;
	padding-bottom:10px;
}

#services-con ul li a span.img1{
	display:inline-block;
	width:20px;
	height:20px;
	background:url(../images/icon_services.png) no-repeat;
	margin-top:20px;
}

#services-con ul li a.img span.img1{
	background-position:-720px 0px;
	
}
#services-con ul li .img:hover,#services-con ul li .img:active{
	color:#F00;
}

#services-con ul li .img:hover span.img1,#services-con ul li .img:active span.img1{
	background-position:-720px -60px;
}

#services-con ul li a.img .content{
	display:inline-block;
	width:80px;
	overflow:hidden;
	padding-left:20px;
}
#services-content{
	margin-left:40px;
	width:860px;
	overflow:hidden;
	margin-top:70px;
	float:left;
}

.services-p {
    color: #606366;
    margin-bottom: 45px;
	font-size:15px;
	line-height:180%;
}

p{
	font-size:15px;
	 color: #606366;
}
.services-h1{
	background: #f5f5f5;
	color: #e8380d;
    font-size: 14px;
    margin-bottom: 35px;
    padding: 5px 10px;
}

.p1{
	padding-left:300px;
	color: #606366;
	margin-bottom:20px;
}
.table{
	width:100%;
	border-collapse:collapse;
	color:#606366;
}
.table td{
	color: #606366;
	font-size:14px;
	margin-top:10px;
	border-top:1px solid;
	height:50px;
	text-align:center;
	border:1px solid  #e7e7e7;
}
.table th{
	background: #c3c3c3 none repeat scroll 0 0;
	height:50px;
	border:1px solid  #e7e7e7;
	text-align:center;
}

.s-r-con-tab-pane{
	display:none;
}

.wrapper-left{
	float:left;
    border-right:1px solid #dadada;
    padding-left:30px;
    width:410px;
}

.wrapper-left h3{
	color:#606366;
	font-size:18px;
}

input.sn,input.bm {
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    height: 34px;
    line-height: 34px;
    padding-left: 8px;
    width: 296px;
}

input.sn{
	margin-top:25px;
}

input.bm{
	margin-top:25px;
}


.yellow-btn {
    background-color: #e8380d;
    border-radius:35px;
    color:#fff;
    cursor:pointer;
    height:35px;
    line-height:35px;
    margin-top:34px;
    text-align:center;
    width: 304px;
}

span.cn{
	display:inline-block;
	height: 34px;
	width:50px;
	text-align:center;
}
button .newCaptcha{
	margin-left:10px;
}
<!--
.s-con-nest-tab-pane{
	display:none;
}
-->
.s-list-nest li {
    float: left;
    height: 25px;
    line-height: 25px;
    margin-left: 20px;
    margin-right: 40px;
    width: 220px;
	list-style:none;
}
.s-list-nest {
    border: 1px solid #ececec;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 10px 0;
}

.model {
    font-size: 35px;
    text-align: center;
	color: #999;
	margin-bottom:30px;
}

.active{
	color:red;
}

#services-con ul li .img_active{
	color:#F00;
}

#services-con ul li .img_active span.img1,#services-con ul li .img:active span.img1{
	background-position:-720px -60px;
}

#services-con ul li a.img_active .content{
	display:inline-block;
	width:80px;
	overflow:hidden;
	padding-left:20px;
}

.tit {
    background: url(../images/icon_common.png) rgba(0, 0, 0, 0) no-repeat scroll -340px -480px;
    color: #464646;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    margin-left: 10px;
    padding-left: 40px;
}


.post_hd {
    float: right;
    line-height: 24px;
    padding: 15px;
    width: 779px;
}


.post_nav {
    font-size: 14px;
    overflow: hidden;
}

.post_nav li {
    border-top: 1px solid #dfdfdf;
    color: #464646;
    float: left;
    height: 130px;
    line-height: 22px;
    margin-right: 60px;
    padding-bottom: 10px;
    width: 319px;
	list-style:none;
}

.post_nav .repair {
    background-color: #e8380d;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    height: 20px;
    line-height: 20px;
    margin-left: 5px;
    padding: 0 8px;
}

.tab-pane{
	display:none;
}

.question-container .ask {
    background: #fafafa none repeat scroll 0 0;
    color: #e8380d;
    font-size: 14px;
    margin-bottom: 0;
    padding: 12px 12px 12px 20px;
}

.question-container .answer {
    margin: 10px 0;
    text-indent: 22px;
}


#tab-nav li {
	/* [disabled]cursor: pointer; */
	float: left;
	font-size: 20px;
	padding: 21px 20px;
	list-style: none;
}
.s-pay-con-tab-pane{
	display:none;
}

.on {
    border-bottom: 2px solid #e8380d;
    color: #e8380d;
}


table.orders-table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
}


table.orders-table td {
    height: 80px;
	color:#606366;
}
table.orders-table th, table.orders-table td {
    border: 1px solid #ccc;
    height: 40px;
    text-align: center;
    vertical-align: middle;
	color:#606366;
}


.con .address .hd h2 {
    color: #e8380d;
    font-weight: normal;
	 font-size: inherit;
}


.con .address .hd {
    background: #fafafa none repeat scroll 0 0;
    border-bottom: 1px solid #e2e3e5;
    color: #808184;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    padding-left: 15px;
    width: 100%;
}

.welcome{
	padding-top:20px;
	padding-bottom:20px;
}


.user-orders .more-orders {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #ccc #ccc;
    border-image: none;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    line-height: 40px;
    padding: 0 10px 0 0;
    text-align: right;
	color:#606366;
}

.hd a {
    color: #e8380d;
    display: block;
    float: left;
    margin-left: 20px;
    overflow: hidden;
}


#filterForm {
    display: block;
    height: 50px;
    width: 100%;
}

.memberorders .filter select {
    border-radius: 4px;
    height: 28px;
    line-height: 22px;
    padding: 2px 0;
	float:right;
	margin-left:5px;
	margin-top:20px;
}
.filter{
	list-style:none;
}


table.orders-table td {
    height: 80px;
}


.pagelist li {
    border-radius: 5px;
    display: inline;
    float:right;
    margin: 0 2px;
	color:#606366;
	margin-top:20px;
}

#curr{
	 background: #e8380d none repeat scroll 0 0;
}
.pagelist .curr-page {
    background: #e8380d none repeat scroll 0 0;
}
.pagelist .pg-num {
    background: #ccc none repeat scroll 0 0;
}
.pagelist .pg-num, .pagelist .curr-page {
    height: 20px;
    line-height: 20px;
    padding: 0 8px;
    text-align: center;
}


.con .address .listAddress table {
    border: 1px solid #dfdfdf;
    border-collapse: collapse;
    text-align: center;
	margin-top:20px;
	margin-bottom:20px;
}


.con .address .listAddress table th {
    background: #f7f9f9 none repeat scroll 0 0;
    line-height: 32px;
    margin: 1px;
    text-align: center;
		color:#606366;

}


.con .address .newAddress label {
    float: left;
    width: 90px;
}

#addressForm ul{
	list-style:none;
}

.newAddress{
	overflow:hidden;
}
.con .address .newAddress input.text {
    margin: 0;
}
.con .address .newAddress input {
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    height: 20px;
    line-height: 20px;
    outline: medium none;
    padding: 6px 8px 3px;
    width: 500px;
}


.con .address .newAddress ul li {
    float: left;
    line-height: 31px;
    margin-top: 20px;
    overflow: hidden;
    width: 100%;
	color:#606366;
}

.con .address .newAddress .tips {
    color: #acacac;
    padding-left:90px;
}

.con .address .city select, .delStyle select {
    height: 30px;
    line-height: 26px;
    padding: 4px 0;
}


.con .address .newAddress .save {
    background: #e8380d none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 14px;
    height: 30px;
    margin-left: 80px;
    margin-top: 15px;
    text-align: center;
    width: 96px;
}
.not-found{
	height:80px;
	padding-top:40px;
	color:#606366;
}

#fa-small{
	height:480px;
}
.fa-i-1{
	float:left;
	list-style:none;
	text-align:center;
}

.bg-services {
    padding-top:61px;
	background-image:url(../images/bg_services.jpg);
	width:100%;
	height:180px;
	background-origin: padding-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto auto;
}


.suc_content {
    margin: 20px auto 0;
    width: 960px;
}


.changP_container {
    margin: 60px auto 0;
}


.changP .account_tips {
    margin-left: 220px;
}
.account_tips {
    font-size: 14px;
	font-weight:bold;
    height: 32px;
    line-height: 16px;
    margin-left: 180px;
    text-align: left;
}


.info {
    border-bottom: 1px dashed #e3e3e3;
    height: 25px;
    line-height: 25px;
    padding: 20px 0;
}


.changP .dt_l {
    width: 210px;
}
.dt_l {
    font-size: 14px;
    font-weight: bold;
    line-height: 38px;
    padding-right: 10px;
    text-align: right;
    width: 170px;
}
.dt_l, .dd_r {
    float: left;
    height: 38px;
    margin-bottom: 12px;
    vertical-align: middle;
}

.account_tips{
	account_tips
}
.dd_r input {
    display: block;
    float: left;
}
.new_width {
    width: 290px;
}
.input_kuang {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff url("/res/images/s_bgs.png") repeat-x scroll 0 -118px;
    border-color: #ccc #e3e3e3 #e3e3e3;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px #fff;
    display: inline-block;
    font-size: 14px;
    height: 20px;
    padding: 8px;
    width: 252px;
}
.sub_bg, .input_kuang, .input_b, .sub_login, .mt_login {
    border-radius: 3px;
}


.clearfix1::after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.changP_container .dd_r {
    width: 620px;
}
.dd_r {
    width: 580px;
}
.dt_l, .dd_r {
    float: left;
    height: 38px;
    margin-bottom: 12px;
    vertical-align: middle;
}

.no_bg {
    background-color: #e8380d;
    border: 0 none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    padding: 0;
}

element.style {
    color: #fff;
}
.dd_r input {
    display: block;
    float: left;
}
.sub_bg input {
    height: 36px;
    width: 132px;
}


.m_func {
    color: #e8380d;
    margin-left: 10px;
	font-size:16px;
}
.m_name{
	 margin-left: 10px;
	font-size:16px;
}
.m_name a:hover{
    color: #e8380d;
}
.con{
	display:none;
}
