<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 使用映射接口的方式， 命名空间的值必须与映射接口的全限定名一致 -->
<mapper namespace="com.zhiyi.mapper.AdMapper">
	<select id="showfndpic" resultType="Ad">
		select * from admessage am,ad a where status1=1 and am.aid=a.aid order by weight desc
	</select>
		<!-- 分页查询信息 -->
	<select id="find" parameterType="map" resultType="Ad">
		select * from (
			select a.*,rownum rn from (
				select * from ad order by aid
			)a where rownum&lt;=#{max,jdbcType=NUMERIC}
		)b where rn>#{min,jdbcType=NUMERIC}
	</select>
		<select id="getTotal" resultType="int">
		select count(1) from ad
	</select>
		<select id="finds" parameterType="map" resultType="Ad">
		select * from (
			select a.*,rownum rn from (
				select * from admessage order by amid
			)a where rownum&lt;=#{max,jdbcType=NUMERIC}
		)b where rn>#{min,jdbcType=NUMERIC}
	</select>
</mapper>