<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 使用映射接口的方式， 命名空间的值必须与映射接口的全限定名一致 -->
<mapper namespace="com.zhiyi.mapper.GoodsMapper">
	
	<!-- 查询总的条数 -->
	<select id="getTotal" resultType="int">
		select count(1) from goods where status=1
	</select>
	
	<select id="getGoodsInfoTotal" resultType="int">
		select count(1) from goodsInfo where sataus1=1
	</select>
	
	<select id="getGoodsParTotal" resultType="int">
		select count(1) from goodsPar where sataus2=1
	</select>
	
	<!-- 分页查询信息 -->
	<select id="find" parameterType="map" resultType="Goods">
		select * from (
			select a.*,rownum rn from (
				select n.*,tname from goods n,gtype t
				where n.tid=t.tid and n.status=1
			)a where rownum&lt;=#{max,jdbcType=NUMERIC}
		)b where rn>#{min,jdbcType=NUMERIC}
	</select>
	
	<select id="findGoodsInfo" parameterType="map" resultType="GoodsInfo">
		select * from (
			select a.*,rownum rn from (
				select n.*,gname from goods g,goodsInfo n
				where n.gid=g.gid and sataus1=1
			)a where rownum&lt;=#{max,jdbcType=NUMERIC}
			)b where rn>#{min,jdbcType=NUMERIC}
	</select>
	
	<select id="findGoodsPar" parameterType="map" resultType="GoodsPar">
		select * from (
			select a.*,rownum rn from (
				select n.*,gname from goods g,goodsPar n 
				where n.gid=g.gid and sataus2=1
			)a where rownum&lt;=#{max,jdbcType=NUMERIC}
		)b where rn>#{min,jdbcType=NUMERIC}
			
	</select>
	
	<!--根据编号查询-->
	<select id="findGoodsByGid" parameterType="int" resultType="Goods">
		select * from goods where gid=#{gid}
	</select>
	
	<select id="findGoodsInfoByIid" parameterType="int" resultType="GoodsInfo">
		select * from goodsInfo where iid=#{iid}
	</select>
	
	<select id="findGoodsParByGpid" parameterType="int" resultType="GoodsPar">
		select goodsPar.*,gname from goodsPar,goods where goodsPar.gid=goods.gid and gpid=#{gpid}
	</select>
	
	 <insert id="addGoodsInfo" parameterType="Goods">
		insert into goods values(seq_goods_gid.nextval,#{gname},#{tid},#{price},#{gnum},#{descible},#{gpath},#{gposition},1,null,null,null)
	</insert>
	
	<insert id="addGoodsInfoInfo" parameterType="GoodsInfo">
		insert into goodsInfo values(seq_goodsInfo_iid.nextval,#{gid},#{giname},#{gisketck},#{giattribute},#{gipath},#{giposition},1,null,null,null)
	</insert>
	
	<insert id="addgoodsParInfo" parameterType="GoodsPar">
		insert into goodsPar values(seq_goodsPar_gpid.nextval,#{gid},#{color},#{gversion},#{meal},#{gppath},#{gpposition},1,null,null,null)
	</insert>
	
	<!-- 删除商城商品信息 -->
	<update id="delGoodsInfo" parameterType="string">
		update goods set status=0 where gid=#{gid}
	</update>
	
	<update id="delGoodsInfoInfo" parameterType="string">
		update goodsInfo set sataus1=0 where iid=#{iid}
	</update>
	
	<update id="delgoodsParInfo" parameterType="string">
		update goodsPar set sataus2=0 where gpid=#{gpid}
	</update>
	
	<!--修改-->
	<update id="updateGoodsInfo" parameterType="Goods">
		update goods
		<set>
			<if test="gname!=null">
				gname=#{gname},
			</if>
			<if test="tid!=null">
				tid=#{tid}, 
			</if>
			<if test="price!=null">
				price=#{price}, 
			</if>
			<if test="gnum!=null">
				gnum=#{gnum}, 
			</if>
			<if test="descible!=null">
				descible=#{descible}, 
			</if>
			<if test="gpath!=null">
				gpath=#{gpath}, 
			</if>
			<if test="gposition!=null">
				gposition=#{gposition}
			</if>
		</set>
			where gid=#{gid}
	</update> 
	
	<update id="updateGoodsInfoInfo" parameterType="GoodsInfo">
		update goodsInfo
		<set>
			<if test="giname!=null">
				giname=#{giname},
			</if>
			<if test="gid!=null">
				gid=#{gid}, 
			</if>
			<if test="gisketck!=null">
				gisketck=#{gisketck}, 
			</if>
			<if test="giattribute!=null">
				giattribute=#{giattribute}, 
			</if>
			<if test="gipath!=null">
				gipath=#{gipath}, 
			</if>
			<if test="giposition!=null">
				giposition=#{giposition}
			</if>
		</set>
			where iid=#{iid}
	</update> 
	
	<update id="updateGoodsParInfo" parameterType="GoodsPar">
		update goodsPar
		<set>
			<if test="color!=null">
				color=#{color},
			</if>
			<if test="gid!=null">
				gid=#{gid}, 
			</if>
			<if test="gversion!=null">
				gversion=#{gversion}, 
			</if>
			<if test="meal!=null">
				meal=#{meal}, 
			</if>
			<if test="gppath!=null">
				gppath=#{gppath}, 
			</if>
			<if test="gpposition!=null">
				gpposition=#{gpposition}
			</if>
		</set>
			where gpid=#{gpid}
	</update>
	
	<!-- 查询所有商品名称 -->
	<select id="getAllGoods" resultType="Goods">
		select gid,gname from goods where status=1
	</select>
	
	<!-- 查询右侧商品信息-->
	<select id="findContent" resultType="Goods">
		select g.*,tname,t.tid from goods g,gtype t where g.tid=t.tid
	</select>
	
	<select id="showGoodsByIds" parameterType="int" resultType="GoodsInfo">
		select giname,gisketck,gipath,giattribute,giposition,sataus1 from goodsInfo where gid=#{id} and giattribute in ('概述','设计','拍照','技术规格','配件')
	</select>
	
	
	<select id="findContentss" parameterType="int" resultType="Goods">
		select gid,gname,price from goods where gid=#{id}
	</select>
	
	<select id="findGoodsPars" parameterType="int" resultType="GoodsPar">
		select * from goodsPar p where p.gid=#{id}
	</select>
	
	<select id="findContent5" parameterType="map" resultType="Goods">
		select gp.gpid,gs.price from goodsPar gp,goods gs where gp.gid=#{gid} and gp.color=#{color} and gp.gid=gs.gid
	</select>
</mapper>