<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 使用映射接口的方式， 命名空间的值必须与映射接口的全限定名一致 -->
<mapper namespace="com.zhiyi.mapper.GtypeMapper">
	
	<!-- 查询总的条数 -->
	<select id="getTotal" resultType="int">
		select count(1) from gtype
	</select>
	
	<!-- 分页查询信息 -->
	<select id="find" parameterType="map" resultType="Gtype">
		select * from (
			select a.*,rownum rn from (
				select * from gtype order by tid
			)a where rownum&lt;=#{max,jdbcType=NUMERIC}
		)b where rn>#{min,jdbcType=NUMERIC}
	</select>
	
	<insert id="addGtype" parameterType="Gtype">
		insert into gtype values(seq_gtype_tid.nextval,#{tname},#{tdescribe},#{tpath},1,null,null,null)
	</insert>
	
</mapper>