<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 使用映射接口的方式， 命名空间的值必须与映射接口的全限定名一致 -->
<mapper namespace="com.zhiyi.mapper.OrderMapper">
	
	<!-- 查询总的条数 -->
	<select id="getTotal" resultType="int">
		select sum(count(distinct gpid)) from orders group by gpid
	</select>
	
	<select id="getTotal1" resultType="int">
		select sum(count(distinct gpid)) from orders group by gpid,xdate
	</select>
	
	<!-- 分页查询信息 -->
	<select id="find" parameterType="map" resultType="Order">
		select * from (
			select a.*,rownum rn from (
				select gname,color,gversion,sum(onum) num from (
					select gname,color,gversion,onum,xdate from orderInfo,orders,
						goodsPar,goods where orderInfo.gpid=goodsPar.gpid and 
						orderInfo.gpid=orders.gpid and orders.gpid=goodsPar.gpid 
						and goods.gid=goodsPar.gid and orderInfo.osid=orders.osid 
					) group by gname,color,gversion order by sum(onum) desc
			) a where rownum&lt;=#{max,jdbcType=NUMERIC}
		)b where rn>#{min,jdbcType=NUMERIC}
	</select>
	
	<select id="finds" parameterType="map" resultType="Order">
		select * from (
			select a.*,rownum rn from (
				select uname,gname,color,gversion,sum(onum) num,xdate from (
					select uname,gname,color,gversion,onum,xdate from users,orderInfo,orders,
						goodsPar,goods where orders.usid=users.usid and orderInfo.gpid=goodsPar.gpid and
						orderInfo.gpid=orders.gpid and orders.gpid=goodsPar.gpid
						and goods.gid=goodsPar.gid and orderInfo.osid=orders.osid
				) group by uname,gname,color,gversion,xdate order by sum(onum) desc
			) a where rownum&lt;=#{max,jdbcType=NUMERIC}
		)b where rn>#{min,jdbcType=NUMERIC}
	</select>
	
	<select id="find1" parameterType="map" resultType="Order">
		select * from (
			select a.*,rownum rn from (
				select gname,color,gversion,sum(onum) num from (
					select gname,color,gversion,onum,xdate from orderInfo,orders,
						goodsPar,goods  
						<where>
							orderInfo.gpid=goodsPar.gpid and 
							orderInfo.gpid=orders.gpid and orders.gpid=goodsPar.gpid 
							and goods.gid=goodsPar.gid and orderInfo.osid=orders.osid 
								<if test="kdate!=null">
									and xdate between to_date(#{kdate},'yyyy-mm-dd')
								</if>
								<if test="jdate!=null">
									and to_date(#{jdate},'yyyy-mm-dd')
								</if>
								<if test="gid!=null">
									 and goods.gid=#{gid}
								</if>
						</where>
					) group by gname,color,gversion order by sum(onum) desc
			) a where rownum&lt;=#{max,jdbcType=NUMERIC}
		)b where rn>#{min,jdbcType=NUMERIC}
	</select>
	
	<select id="finds1" parameterType="map" resultType="Order">
		select * from (
			select a.*,rownum rn from (
				select uname,gname,color,gversion,sum(onum) num,xdate from (
					select uname,gname,color,gversion,onum,xdate from users,orderInfo,orders,
						goodsPar,goods  
						<where>
							orders.usid=users.usid and orderInfo.gpid=goodsPar.gpid and
							orderInfo.gpid=orders.gpid and orders.gpid=goodsPar.gpid
							and goods.gid=goodsPar.gid and orderInfo.osid=orders.osid
								<if test="uname!=null">
									and uname like #{uname}
								</if>
								<if test="kdate!=null">
									and xdate between to_date(#{kdate},'yyyy-mm-dd')
								</if>
								<if test="jdate!=null">
									and to_date(#{jdate},'yyyy-mm-dd')
								</if>
								<if test="gid!=null">
									 and goods.gid=#{gid}
								</if>
						</where>
					) group by uname,gname,color,gversion,xdate order by sum(onum) desc
			) a where rownum&lt;=#{max,jdbcType=NUMERIC}
		)b where rn>#{min,jdbcType=NUMERIC}
	</select>
	
    <insert id="addOrders" parameterType="Order">
    	<selectKey keyProperty="osid" keyColumn="curried" order="BEFORE" resultType="int">
 			select seq_order_osid.nextval curried from dual
 		</selectKey>
		insert into orders values(#{osid},#{usid},'陈姿',#{gpid},1,to_date(#{xdates},'yyyy-MM-dd'),to_date(#{ddates},'yyyy-MM-dd'),null,null,null,null,#{num},#{color},null)
	</insert> 
	
	<insert id="addOrdersInfo" parameterType="map">
		insert into orderInfo values(seq_orderInfo_oiid.nextval,#{osids},#{gpid},#{onum},#{price},#{money},null,null,1,null,null,null)
	</insert> 
	<select id="findzzz" parameterType="Order" resultType="int">
		select osid from orders where available1=#{num} and available2=#{color}
	</select> 
	
	<select id="findOrderInfo" resultType="Order" parameterType="int">
		select distinct(os.osid),re.rname,gs.gname,oi.money,os.xdate from goodsPar gp,goods gs,receive re,orders os,orderInfo oi where gp.gid=gs.gid and gp.gpid=os.gpid and gp.gpid=oi.gpid and os.gpid=oi.gpid and os.osid=oi.osid and os.usid=re.usid and re.status=1 and os.usid=#{usid} 
	</select>
</mapper>