<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 使用映射接口的方式， 命名空间的值必须与映射接口的全限定名一致 -->
<mapper namespace="com.zhiyi.mapper.UsersMapper">
	
	<!-- 查询总的条数 -->
	<select id="getTotal" resultType="int">
		select count(usid) from users
	</select>
	
	<!-- 分页查询信息 -->
	<select id="find" parameterType="map" resultType="Users">
		select * from (
			select a.*,rownum rn from (
				select * from users order by usid
			)a where rownum&lt;=#{max,jdbcType=NUMERIC}
		)b where rn>#{min,jdbcType=NUMERIC}
	</select>
		<!-- 插入会员信息 -->
	<insert id="addUsers" parameterType="Users">
		insert into users values(seq_users_usid.nextval,#{uname},#{pwd},null,#{sex},null,null,null,null,#{passport},null,null,#{phone},null,#{email},'0',1,null,null,null)
	</insert>

		<!-- 删除会员信息 -->
	<delete id="delUsers" parameterType="string">
		delete from users where usid=#{usid}
	</delete>
	<!-- 详细信息 -->
		<select id="findusersByUsid" resultType="Users">
		select * from users where status=1 and usid=#{usid}
	</select>

	
	<!--登录操作-->
	<select id="login" parameterType="Users" resultType="Users">
		select usid,uname,pwd from users where (uname=#{uname} or email=#{uname}) and pwd=#{pwd}
	</select>
	

</mapper>
